.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-content: center;
  color: wheat;
  background-color: #097280;
  /*text-align: center;*/
  padding: 15px;
  font: bold 16px sans-serif;
}

.footer .left {
  flex-direction: row;
  align-items: center;
  /*width: 10%;
  height: 50px;*/
}

.footer .center {
  flex-direction: column;

  /*width: 45%;
  height: 50px;*/
}

.footer .right {
  align-items: left;
  flex-direction: column;
  /*height: 50px;
  width: 25%;*/
}
